main {
    display: flex;
}
div.checkboxes {
    display: grid;
    column-gap: 0px;
    grid-template-columns: auto auto auto auto;
}
section {
    display: grid;
}

table, th, td{
    border: 0px solid;
}

